:root {                     /*com isso declaramos variáveis em css*/
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body {
    background: var(--preto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}



header .container {
   display: flex;
   flex-direction: row;       /*Essa tag é o padrão do 'display: flex;'*/
   align-items: center;
   justify-content: space-between;
   margin-right: 40px;
   

}

header .logo {
    margin-left: 25px;
    color: var(--vermelho);
    font-family: 'Arial', Times;
    font-size: 40px;
    
}

header div nav {
    vertical-align: middle;
}

header div nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-family: arial
    
}


header nav a:hover {
    color: #fff
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background:url('/img/fr-capa.jpg');

    height: 400px;
    background-size: cover;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filme-principal .titulo {
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao1 {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
    font-family: arial;
    border-radius: 4px;
    border: 0px;
    opacity: 1;
}

.botao2 {
    background-color: rgba(117, 114, 114, 0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-family: arial;
    cursor: pointer;
    transition: .4s ease all;
    border-radius: 4px;
    border: 0px;
    opacity: 1;
}

.botao1:hover {
    background-color: white;
    color: black;
}

.botao2:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.favicon-botao {
    
    margin-right: 4px;
    width: 20px;
}

img.favicon-botao { vertical-align: -6px; }

.filme-principal .container {
    margin-left: 25px;
    margin-right: 25px;
    
}

.box.film {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes {
    margin-top: 5px;
}